.PostEmptyPet {
  border: 2px dashed #eeeeee; /* 점선 테두리 */
  border-radius: 8px; /* 모서리 둥글게 (선택사항) */
  padding: 20px;
  margin: 40px auto; /* 위아래 여백 20px, 좌우 자동 → 가운데 정렬 */
  text-align: center; /* 내부 텍스트와 버튼을 가운데 정렬 */
  max-width: 400px;
  cursor: pointer;
}
.PostEmptyPet .plus-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #9f9f9f;
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}

.PostEmptyPet div {
  font-size: 14px;
  color: #9f9f9f;
  margin-bottom: 15px;
}

.PostEmptyPet .plus-text {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.PostSelectPet {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 카드 사이 간격 */
}

.PostSelectPet .pet-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px; /* 이미지와 이름 사이 간격 */
  padding: 10px;
  border: none;
  margin: 40px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  width: 500px;
}

.PostSelectPet .pet-card .pet-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.PostSelectPet .pet-card .pet-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  color: #9f9f9f;
  font-weight: bold;
}

.PostSelectPet .pet-card .pet-name {
  color: black;
}
