.PostEmptyPet {
  border: 2px dashed #eeeeee; /* 점선 테두리 */
  border-radius: 8px; /* 모서리 둥글게 (선택사항) */
  padding: 20px;
  margin: 40px auto; /* 위아래 여백 20px, 좌우 자동 → 가운데 정렬 */
  text-align: center; /* 내부 텍스트와 버튼을 가운데 정렬 */
  max-width: 400px;
  cursor: pointer;
}
.PostEmptyPet .plus-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #9f9f9f;
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}

.PostEmptyPet div {
  font-size: 14px;
  color: #9f9f9f;
  margin-bottom: 15px;
}

.PostEmptyPet .plus-text {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.PostSelectPet {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 카드 사이 간격 */
}

.PostSelectPet .pet-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px; /* 이미지와 이름 사이 간격 */
  padding: 10px;
  border: none;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  width: 500px;
  padding: 10px 20px;
}

.PostSelectPet .pet-card .pet-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.PostSelectPet .pet-details {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.PostSelectPet .pet-card .pet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  color: #9f9f9f;
  font-weight: bold;
}

.PostSelectPet .pet-card .pet-name {
  color: black;
}

.PostSelectPet .pet-card.selected {
  background-color: #ffedc9; /* 선택됐을 때 연한 초록 */
}

.PostSelectPet .pet-check {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.PostSelectPet .pet-check input {
  display: none;
}

.PostSelectPet .pet-check span {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%; /* 원형 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  transition: all 0.2s ease;
  background-color: #eeeeee;
}

/* 체크된 상태 */
.PostSelectPet .pet-check input:checked + span {
  background-color: #ffb317;
}

.PostSelectPet .pet-check span::before {
  content: "✓";
  color: white;
}

.PostSelectPet .next-button {
  margin-top: 40px;
  width: 100%;
  padding: 12px;
  background-color: #eeeeee;
  border: none;
  color: #9f9f9f;
  border-radius: 15px;
  font-weight: bold;
}

.PostSelectPet .active {
  background-color: #ffb317;

  color: white;
  cursor: pointer;
}
