.PostStep {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 30px;
}

.PostStep .step {
  width: 30px; /* 원 지름 */
  height: 30px;
  border-radius: 50%; /* 완전한 원 */
  background-color: #ffbb30; /* 요청하신 노란색 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: none;
}

.PostStep div {
  width: 30px; /* 원 지름 */
  height: 30px;
  border-radius: 50%; /* 완전한 원 */
  background-color: #eeeeee; /* 요청하신 노란색 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: none;
}
