/* HorizontalScroll.css */
.PostCategory .post-category .scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
  padding-left: 20px;
  padding-top: 10px;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.PostCategory .post-category .scroll-item {
  flex: 0 0 auto;
  width: 80px;
  height: auto;
  background-color: white;
  color: #9f9f9f;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  cursor: pointer;
}

.PostCategory .post-category .scroll-container .selected {
  color: #ffb317;
  border-bottom: #ffb317 2px solid;
}
