.Answer {
  padding-bottom: 50px;
}
.Answer .answer-trainer {
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.Answer .trainer-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Answer .trainer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.Answer .trainer-info .trainer-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.Answer .trainer-info .trainer-etc {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
  font-size: 14px;
  color: #545454;
}

.Answer .answer-body {
  margin-top: 20px;
  min-height: 250px;
}
.Answer .answer-body .answer-content {
  font-size: 16px;
  color: #545454;
  line-height: 1.5;
}

.Answer .answer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #9f9f9f;
}

.Answer .answer-bottom .answer-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.Answer .answer-bottom .answer-like:hover {
  color: #ffb317;
}
