.Post {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Post .category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.Post .category-container .post-category {
  background-color: #fff6e3;
  color: #ffb317;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.Post .title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
}

.Post .pet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.Post .pet-container .pet-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.Post .pet-container .pet-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Post .pet-container .pet-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Post .pet-container .pet-details .pet-name {
  font-size: 16px;

  color: black;
}
.Post .pet-container .pet-details .pet-description {
  font-size: 12px;
  color: #9f9f9f;
}

.Post .post-created {
  font-size: 12px;
  color: #9f9f9f;
  margin-top: 30px;
}
.Post .post-body {
  margin-top: 20px;
  min-height: 250px;
}
.Post .post-body .post-content {
  font-size: 16px;
  color: #545454;
  line-height: 1.5;
}
.Post .post-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}
.Post .post-bottom .tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #ffb317;
}
.Post .post-bottom .post-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.Post .post-bottom .post-actions .action-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  border: 1px solid #eeeeee;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  color: #9f9f9f;
  cursor: pointer;
}

.Post .post-bottom .post-actions .icon {
  color: #9f9f9f;
  font-size: 16px;
}

.Post .post-bottom .post-actions .action-button:hover {
  background-color: white;
  color: #ffb317;
  border-color: #ffb317;
}

.Post .post-bottom .post-actions .action-button:hover .icon {
  color: #ffb317;
}
