.AddPetProg {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.AddPetProg .progress-bar {
  flex: 1;
  height: 12px;
  background-color: #eeeeee;
  border-radius: 6px;
  overflow: hidden;
}

.AddPetProg .progress-fill {
  height: 100%;
  background-color: #ffbb30; /* 노란색 */
  transition: width 0.3s ease-in-out;
}

.AddPetProg .progress-text {
  min-width: 80px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.AddPetProg .progressing {
  color: #ffbb30;
}

.AddPetProg .not-progress {
  color: #9f9f9f;
}
