.OwnerCard .owner-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.OwnerCard .pet-container {
  display: flex;
  justify-content: space-around; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 20px; /* 박스 사이 간격 */
  margin-top: 20px;
}
.OwnerCard .pet-container button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #ffb317;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.OwnerCard .pet-container button:hover {
  background-color: #ffbb30;
  transform: translateY(-2px);
}

.OwnerCard .owner-info .name {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.OwnerCard .owner-info p {
  margin: 5px 0;

  font-size: 20px;
  color: #9f9f9f;
}

.OwnerCard .pet-box {
  position: relative; /* 자식 요소를 절대 위치로 올리기 위해 필요 */
  border: 1px solid rgb(226, 226, 226);
  padding: 20px;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.OwnerCard .pet-box .pet-image {
  position: absolute; /* 겹치기 */
  top: -50px; /* 박스 위쪽으로 올리기 */
  right: 5%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%; /* 동그랗게 */
  border: 2px solid white; /* 겹쳐도 깔끔하게 보이도록 */
}
.OwnerCard .pet-name-container {
  font-size: 14px;
  color: #9f9f9f;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.OwnerCard .pet-name-container .pet-name {
  font-size: 18px;
  color: #ffb317;
  font-weight: bold;
}

.OwnerCard .pet-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.OwnerCard .pet-info-container .pet-info-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  color: #9f9f9f;
}

.OwnerCard .pet-info-container .pet-info {
  font-size: 16px;
  color: black;
}

.slide {
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.OwnerCard .page-dot {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 6px;
}

.OwnerCard .dot {
  width: 10px;
  height: 10px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.OwnerCard .dot.active {
  background-color: #ffbb30; /* 현재 선택된 dot → 노란색 */
}
